/* Reset & Common Code Start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d1a2d;
}
/* Reset & Common Code End */

/* Container Start */
.container {
    width: 350px;
    padding: 24px;
    background-color: #15273f;
    border-radius: 16px;
    font-family: "Outfit", sans-serif;
}
/* Container End */

/* Theme Start */
.theme {
    margin-bottom: 30px;
    position: relative;
}

.theme img {
    width: 100%;
    border-radius: 8px;
}

.theme:hover::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(188, 100%, 38%, 0.5);
    cursor: pointer;
    background-image: url(images/eye.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* Theme End */

/* Details Start */

.details h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 24px;
    font-size: 22px;
    display: inline-block;
}

.details h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.details p {
    color: hsl(215, 51%, 70%);
    margin-bottom: 30px;
    font-size: 18px;
}
/* Details End */

/* Transaction Start */
.transaction {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    margin-bottom: 16px;
}

.ethereum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: hsl(178, 100%, 50%);
}

.expiration {
    display: flex;
    align-items: center;
    gap: 8px;
    color: hsl(215, 51%, 70%);
}
/* Transaction End */

/* Creator Start */
.creator {
    display: flex;
    align-items: center;
    gap: 16px;
    color: hsl(215, 51%, 70%);
}

.creator img {
    width: 32px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
}

.creator-name {
    color: hsl(0, 0%, 100%);;
}

.creator-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
/* Creator End */